html, body {
  height: 100%;
  margin: 0;
  background: #000;
  color: #fff;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
    margin:90px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 90px;
}

.msg {
  font-size: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  opacity: 0.95;

}

/* Кнопка/посилання */
.link {
  display: inline-block;
  margin-top: 12px;
  color: #9ee6ff;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.05rem;
  transition: color 0.3s;
  cursor: pointer;
}

/* При наведенні лише колір змінюється */
a:hover {
  color: #b5f1ff;
}

/* Анімація стрілочки */
.arrow {
  display: inline-block;
  margin-left: 6px;
  animation: move 1s infinite ease-in-out;
}

@keyframes move {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(6px);
  }
}
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #000000;
  background-image: url("https://blog.educationnest.com/wp-content/uploads/2023/10/Untitled-design-2023-10-10T165957.095-1024x683.jpg");
  background-size: cover;
  background-position: center;
} 

.fx {
  display: flex;
}

.fx-gap {
  gap: 18px;
}

input,
button {
  color: #fff;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  outline: none;
}

form {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 550px;
  height: 96px;
  padding: 35px;
  margin: -83px auto 0 auto;
  background-color: #6b6969;
  border-radius: 20px;
  box-shadow: 0 10px 40px #b9b4b4, 0 0 0 20px #ffffffeb;
  transform: scale(0.6);
}

input[type="text"] {
  width: 100%;
  height: 96px;
  font-size: 60px;
  line-height: 1;
}

input[type="text"]::placeholder {
  color: #ffffff;
}

button {
  position: relative;
  display: block;
  width: 84px;
  height: 96px;
  cursor: pointer;
}

#search-icon-circle {
  position: relative;
  top: -8px;
  left: 0;
  width: 43px;
  height: 43px;
  margin-top: 0;
  border-width: 15px;
  border: 15px solid #fff;
  background-color: transparent;
  border-radius: 50%;
  transition: 0.5s ease all;
}

button span {
  position: absolute;
  top: 68px;
  left: 43px;
  display: block;
  width: 45px;
  height: 15px;
  background-color: transparent;
  border-radius: 10px;
  transform: rotateZ(52deg);
  transition: 0.5s ease all;
}

button span:before,
button span:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 45px;
  height: 15px;
  background-color: #fff;
  border-radius: 10px;
  transform: rotateZ(0);
  transition: 0.5s ease all;
}

#search-icon:hover #search-icon-circle {
  top: -1px;
  width: 67px;
  height: 15px;
  border-width: 0;
  background-color: #fff;
  border-radius: 20px;
}

#search-icon:hover span {
  top: 50%;
  left: 56px;
  width: 25px;
  margin-top: -9px;
  transform: rotateZ(0);
}

#search-icon:hover button span:before {
  bottom: 11px;
  transform: rotateZ(52deg);
}

#search-icon:hover button span:after {
  bottom: -11px;
  transform: rotateZ(-52deg);
}
#search-icon:hover button span:before,
#search-icon:hover button span:after {
  right: -6px;
  width: 40px;
  background-color: #fff;
}
.cont{
    position: absolute;
    width:max-content;
    height:600px;
}
.arrow {
    display: inline-block;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
